*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
.header,.footer {
  padding: 0 50px;
}
.menu {
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
}

.lots,.about {
  margin: 0 24px;
}
.lots,.footer {
  margin-top: 180px;
}

.about {
  margin-top: 120px;
}

.cover {
  background-image: url('/images/cover.jpg');
}

.card_type_film {
  background-image: url('/images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('/images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('/images/card-lot-03.jpg');
}


.cover,.lots__list-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}